<appSettings>
  <add key="ida:AppID" value="c0a89c4c-8637-40f0-b0a0-7feb2edbfb1b" />
  <add key="ida:AppSecret" value="bb6392b2-cb34-465b-a3d3-f1581fbe7409" />
  <add key="ida:RedirectUri" value="https://localhost:44310/" />
  <add key="ida:AppScopes" value="User.Read Calendars.Read" />
</appSettings>
